<header>
  <a href="#">MyLogo</a>
  <nav>
    <ul style="float: right">
      <li class="first"><a href="#">About us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Features</a></li>
      <li class="contact" (click)="start()"><a href="#">Contact</a></li>

    </ul>
  </nav>
</header>

<aside>
  <h3>My title here</h3>
  <ul>
    <li><a href="#">Control Panel</a></li>
    <li><a href="#">Control Panel</a></li>
    <li><a href="#">Control Panel</a></li>
    <li><a href="#">Control Panel</a></li>
  </ul>
</aside>

<main>
  <section>
    <h1>Some important content here</h1>
  </section>
</main>
